<h1>SELECT WITH USERS ID</h1>
<select (change)='getUser()' [(ngModel)]='userId'>
    <option *ngFor="let user of users">{{user.id}}</option>
</select>

<br><br>

<form [formGroup]='userForma' (submit)='showUser()' *ngIf='user'>
    <h3>Form with users info</h3>
    <input type="text" formControlName='name'  placeholder="name" ><br>
    <input type="text" formControlName='surname'  placeholder="surname"><br>
    <input type="email" formControlName='email'  placeholder="email"><br>
    <button type="submit" [disabled]='userForma.invalid'>Send</button>
</form>
